{% extends "document.html.twig" %}
{% block content %}
{% set pathArr = location.pathString | trim('/') | split('/') %}
{% set contentObjIndex = pathArr | length - 1 %}
{% set programLocationId = pathArr[contentObjIndex - 1] %}
{% set departmentLocationId = pathArr[contentObjIndex - 3] %}
<h1>{{ ez_content_name( content ) }}</h1>
<dl>
<dt>{{ 'Department'|trans }}</dt>
<dd>{{ render_esi(controller('ez_content:viewAction', {locationId: departmentLocationId, viewType: 'line'} )) }}
</dd>
<dt>{{ 'Program'|trans }}</dt>
<dd>{{ render_esi(controller('ez_content:viewAction', {locationId: programLocationId, viewType: 'line'} )) }}
</dd>
<dt>{{ 'Course Number'|trans }}</dt>
<dd>{{  ez_render_field(content, 'course_number') }}</dd>
<dt>{{ 'Course Title'|trans }}</dt>
<dd>{{  ez_render_field(content, 'course_title') }}</dd>
<dt>{{ 'Hours'|trans }}</dt>
<dd><em>{{ 'Lecture'|trans }}</em> {{  ez_render_field(content, 'lecture_hours') }}
<em>{{ 'Lab'|trans }}</em> {{  ez_render_field(content, 'lab_hours') }}
<em>{{ 'Credit'|trans }}</em> {{  ez_render_field(content, 'credit_hours') }}</dd>
<dt>{{ 'Description'|trans }}</dt>
<dd>{{  ez_render_field(content, 'description') }}</dd>
<dt>{{ 'Course Competencies'|trans }}</dt>
<dd>{{  ez_render_field(content, 'course_competencies') }}</dd>
</dl>
{% endblock %}
