<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if title is not defined %}
            {% if content is defined %}
                {% set title = ez_content_name( content ) %}
            {% else %}
                {% set title = '' %}
            {% endif %}
        {% endif %}
        <title>{{ title }}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <meta name="generator" content="eZ Platform"/>
        {% if content is defined and content.contentInfo.mainLocationId %}
            <link rel="canonical" href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}" />
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body role="document">
        <header class="page-header row">
            <span class="col-md">
                {% if content is defined %}
                    <img src="{{ asset("/assets/images/logo.jpg") }}" class="img-fluid" alt="logo">
                {% else %}
                    <img src="https://placekitten.com/468/107" class="img-fluid" alt="kittens!">
                {% endif %}
            </span>
            <span class="col-md">
                <h1 class="col text-right">{{ title }}</h1>
            </span>
        </header>
        <section id="main-content" class="mx-auto w-75 shadow-lg p-3 mb-5 bg-white rounded">
            {% block content %}
            {% endblock %}
        </section>
        <footer class="fixed-bottom page-footer row">
            <div id="date-time" class="col text-right pr-5">11/11/2019 9:06</div>
        </footer>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
